.nav-ul{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 50px ;
 background-color: rgba(28, 138, 211, 0.865);
 height: 3rem;
}
.nav-ul>li{
  list-style-type: none;
  font-size: large;
  font-weight: 600;
 }

.footer{
  position:absolute;
  bottom: 0;
  color: white;
  text-align: center;
  width: 100%;
  background-color: black;
}